@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

body {
    background-color: #fff;
    color: #333;
    font-family: '맑은 고딕', '돋움';
    font-size: 12px;
}

#wrap {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

/*Header*/
header {
    height: 100px;
    position: relative;
}

#logo {
    padding: 30px 0px 0px 25px;
}

header > nav {
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 3;
}
#gnb2 > li {
    float: left;
}
#gnb2 > li > a{
    display: block;
    width: 80px;
    text-align: center;
}
.submenu {
    display: none;
    position: absolute;
    width: 200px;
}

.submenu > li > a {
    display: block;
    padding: 6px 0 10px;
    font-size: 16px;
    color: #fff;
    transition-duration: .4s;
    height: 36px;
    background-color: rgba(0,0,0,0.5);
}

.submenu > li > a:hover {
    font-weight: bold;
    background-color: #000;
}
/*밑에메뉴*/
.sub {
    position: relative;
    height: 50px;
    top: 5px;
}
#gnb {
    position: relative;
    left: 150px;
    display: block;
    z-index: 1;
}
#gnb > li {
    float: left;
    text-align: center;
}

#gnb > li > a {
    width: 200px;
    display: block;
    padding: 8px 0 12px;
    font-size: 18px;
    transition-duration: .4s;
}
/*Slide*/
#slide {
    height: 500px;
    position: relative;
    overflow: hidden;
}

#slide > a {
    position: absolute;
    top: 100%;
}

#slide > a:first-child {
    top: 0;
}
section {
    height: 1200px;
    overflow: hidden;
}
section > div {
    float: left;
    padding-top: 8px;
    height: 100%;
}
.list {
    height: 320px;
    padding: 15px 0 0 0;
}
#best {
    float: left;
    width: 100%;
    position: relative;
}
#best h2 {
    padding-bottom: 15px;
    position: relative;
    left: 22px;
}
#best img {
    width: 20%;
    float: left;
    display: block;
    padding: 0 25px;
}
#best img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.list2 {
    height: 100%;
    background-color: #eee;
    width: 100%;
}
.list2 h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.list2 p {
    text-align: center;
}
#left {
    float: left;
    width: 50%;
    position: relative;
    left: 150px;
    top: 80px;
}
#left ul{
    list-style: none;
}
#left img {
    width: 60%;
}
#left img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#left span {
    font-weight: bold;
    font-size: 18px;
}
#left span:hover{
    text-decoration: underline;
}
#right {
    float: right;
    width: 50%;
    position: relative;
    top: 30px;
}
#right img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    
}
#right span {
    font-weight: bold;
    font-size: 18px;
}
#right span:hover{
    text-decoration: underline;
}
#right ul {
    list-style: none;
}
#list01 >ul{
    width: 33.33%;
    float: left;
    display: block;
}
#list01 >ul >li{
    left: 10px;
    position: relative;
}
#list01 img {
    width: 100%;
    padding: 0 10px;
}
#list02 >ul{
    width: 33.33%;
    float: left;
    display: block;
}
#list02 >ul >li{
    left: 10px;
    position: relative;
}
#list02 img {
    width: 100%;
    padding: 0 10px;
}
footer {
    height: 100px;
    background-color: #8c9cb5;
    color: #fff;
}
footer > div {
    float: left;
}
#flogo {
    width: 220px;
    padding: 30px 10px 0;
}

#copy {
    width: 830px;
    padding: 30px;
    line-height: 20px;
    text-align: center;
}
#sns {
    width: 100px;
    padding: 20px 0px;
    left: 150px;
    position: relative;
    text-align: center;
}

#sns > a {
    display: block;
    line-height: 20px;
}
#back {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    width: 100%;
    height: 2000px;;
    z-index: 9;
}
#popup {
    position: absolute;
    top: 200px;
    padding: 10px;
    left: 750px;
}
#popup >a>img{
    width: 70%;
}

/*outer.html*/


.outer_list {
    height: 320px;
    padding: 15px 0 0 0;
}
#outer_best {
    float: left;
    width: 100%;
    position: relative;
}
#outer_best h3 {
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    font-size: 25px;
}
#outer_best img {
    width: 20%;
    float: left;
    display: block;
    padding: 0 25px;
}
#outer_best img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}


.outer_list2 {
    height: 100%;
    background-color: #eee;
    width: 100%;
}
.outer_list2 h3 {
    text-align: center;
    font-size: 25px;
}
.outer_list2 p {
    text-align: center;
    padding-bottom: 15px;
}
#outer_list01 p {
    text-align: left;
    position: relative;
    left: 30px;
    margin-bottom: 30px;
}
#outer_list01 >ul{
    width: 25%;
    float: left;
    display: block;
    list-style: none;
    text-align: center;
}
#outer_list01 >ul >li{
    left: 10px;
    position: relative;
}
#outer_list01 img {
    width: 80%;
    padding: 0 10px;
}
#outer_list01 img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#outer_list01 span {
    font-weight: bold;
    font-size: 18px;
}
#outer_list01 span:hover{
    text-decoration: underline;
}

/*notice.html*/
#news {
    width: 100%;
}
#news h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
#news input {
    float: right;
    margin-bottom: 10px;
    font-size: 15px;
}
#notice table {
    width: 100%;
    height: 300px;
    font-size: 15px;
    text-align: center;
    border-spacing: 0;
}
#notice table tr th {
    font-size: 15px;
}
#notice table tr:hover {
    background-color: #eee;
}
#notice table td a:hover{
    text-decoration: underline;
    font-weight: bold;
}
#notice td {
    border-top: 1px dotted #ccc;
}
#notice p {
    font-size: 18px;
    text-align: center;
}

/*login.html*/

#login {
    height: 100%;
    width: 100%;
}
#login h3 {
    text-align: center;
    font-size: 25px;
}
#log {
    list-style: none;
    position: relative;
    left: 475px;
    padding-top: 30px;
}
#log li{
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 35px;
    font-size: 15px;
}
#text {
    text-align: center;
}
#text input {
    border-radius: 8px;
    padding: 10px 90px;
}
#icon ul{
    list-style: none;
}
#icon li{
    float: left;
}
#icon img {
    padding: 20px 5px 0 0;
    width: 4.5%;
}